{% extends "agreements/base.html" %}
{% load url from future %}
{% block agreements_body %}
{{block.super}}

	<h1>{{agreement_object.name}}</h1>
	<h2>Effective: {{agreement_object.date_start|date:"SHORT_DATE_FORMAT"}} {% if agreement_object.date_end %} -  {{agreement_object.date_end|date:"SHORT_DATE_FORMAT"}} {% endif %}</h2>
	
	{% if agreement_object.attachment_set.live %}
	<h2>Agreement Attachments</h2>
	<ul>
	{% for attachment in agreement_object.attachment_set.live %}
		{% if attachment.file %}
			<li style='white-space: nowrap'><a href='{{attachment.file.url}}'>{{attachment.date_created|date:"SHORT_DATE_FORMAT"}} - {{attachment.name}}</a></li>
		{% endif %}
		{% if attachment.url %}
			<li style='white-space: nowrap'><a href='{{attachment.url}}'>{{attachment.date_created|date:"SHORT_DATE_FORMAT"}} - {{attachment.name}}</a></li>
		{% endif %}
	{% empty %}
	<li class='clsWarning'>None Found</li>
	{% endfor %}
	</ul>
	{% endif %}
	
	{% if agreement_object.acceptance_set.live %}
	<h2>Agreement Acceptances</h2>
	<ul>
	{% for acceptance in agreement_object.acceptance_set.live %}
	<li style='white-space: nowrap'>{{acceptance.date_created|date:"SHORT_DATE_FORMAT"}} - {{acceptance.confirmation}}</li>
	{% empty %}
	<li class='clsWarning'>None Found</li>
	{% endfor %}
	</ul>
	{% endif %}
	
	<hr>
	{{agreement_object.content|safe}}
	
	<hr>
	
	<form class='clsForm' action='{% url "AgreementDetailView" slug=agreement_object.slug %}' enctype="multipart/form-data" method="post" accept-charset="utf-8">
	<table >
				
	{% csrf_token %}
	{{ acceptance_form.as_table }}
	<tr>
	<td colspan=1>
	<input type="submit" value="Submit" >
	</td>
	</tr>

	</table>
	</form>


{% endblock %}
